/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-light {
  --main-font: 'IBM Plex mono';
  --bg-color: #ffeef6;
  --title-color: #353430;
  --accent-color: #FF8DCB;
  --text-color: #353430;
  --focus-color:  #FFC2E6;
  --bg-image: url(../images/cover-image-light.png);
  --rec-color: var(--bg-color);
  --hover-color: rgba(50, 49, 45, 0.40);
}

/* Остальные стили */
@media (prefers-color-scheme: light) {
  :root {
  --main-font: 'IBM Plex mono';
  --bg-color: #ffeef6;
  --title-color: #353430;
  --accent-color: #FF8DCB;
  --text-color: #353430;
  --focus-color:  #FFC2E6;
  --bg-image: url(../images/cover-image-light.png);
  --rec-color: var(--bg-color);
  --hover-color: rgba(50, 49, 45, 0.40);
  }
}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-font: 'IBM Plex mono';
  --bg-color:  #ffeef6;
  --title-color: #353430;
  --accent-color: #FF8DCB;
  --text-color: #353430;
  --focus-color:  #FFC2E6;
  --bg-image: url(../images/cover-image-light.png);
  --rec-color: var(--bg-color);
  --hover-color: rgba(50, 49, 45, 0.40);
}
