/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/* темная мобильная тема*/

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  min-inline-size: 375px;
  block-size: 100%;
  color: var(--title-color, #FF0070);
  font-family: var(--main-font, monospace);
  background-image: var(--bg-image, url(../images/cover-image-dark.png));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
  margin: 0 auto;
  padding: 10px;
}

.header_decor {
  position: relative;
  color: var(--rec-color);
  font-family: var(--main-font, monospace);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: end;
  float: right;
  margin-right: 28px;
}

.header_decor::before {
  content:"REC";
  color: var(--rec-color);
}

.header_decor::after {
  content:"";
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  margin: 8px 8px 0px 10px;
  background-color: var(--rec-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px var(--rec-color);
  align-items: center;
  justify-content: center;
}
/*
 .header {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 648px;
} 
*/

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  /*min-block-size: 100dvh;
  block-size: 668px;*/
}


.decorated-zone::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--title-color);
  border-right: 1px solid var(--title-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px solid var(--title-color);
  border-left: 1px solid var(--title-color);
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  border: none;
  color: var(--title-color);
  background-color: transparent;
  font-family: var(--main-font, monospace);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  justify-self: center;
  align-self: center;
} 

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: var(--text-color, #F1B2CE);
  font-family: var(--main-font, monospace);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: end;
  gap: 10px;
  margin-top: 66px;
}

.header_title, .footer_title {
  color: var(--focus-color,#DB00FF);
  font-family: var(--main-font, monospace);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  justify-content: center;
  align-items: start;
}

.header_title {
  /*margin-top: 65px;
  margin-bottom: 55px;*/
}

.header_text {
  min-width: 355px;
  display: flex;
  justify-self: flex-end;
  align-self: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.main_text {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  color: var(--text-color);
  font-size: 18px;
  margin-top: 50px;
  line-height: 23.4px;
  font-style: normal;
  font-weight: 400;
}

.main_article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main_accent {
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main_dop_accent {
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 10px;
}

.title_decor {
  color: #000028;
  font-family: var(--main-font, monospace);
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px; /* 130% */
  background-color: var(--accent-color);
}

.main_link {
  position: relative;
  text-shadow: 4px 4px 0px  var(--accent-color);
  text-decoration: none;
}


.main_link:hover:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: var(--text-color);
}

.main_link:focus {
  outline: 1px solid var(--title-color);
} 

.main_title {
  color: var(--title-color);
  font-family: var(--main-font, monospace);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.main_picture {
  display: grid;
  object-position: center;
  gap: 10px;
  margin-top: 40px;
}

div > .main_accent:first-child {
  margin-bottom: 0px;
 }

.card_img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.picture-list {
  list-style: none;
}

.footer {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 668px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  margin-top: 40px;
}

button:focus {
  outline: none;
  border-bottom: 1px solid var(--title-color);
}

button:hover {
  outline: 1px solid rgba(var(--title-color), 0.40);
}

button:active, button:default {
  outline: 1px solid var(--title-color);
}
button:disabled {
  outline: 1px solid var(--title-color);
}

@media (width > 375px) {
  .header_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .footer_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header_text {
    width: 364px;
  }
} 

@media (width <= 375px) {
  .main_text {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .header_text {
    width: 355px;
  }
  
  .main_picture {
    gap: 0px;
  }

  .card_img {
    margin-bottom: 5px;
  }
}

@media (width >= 768px) {
  .page {
    padding: 20px;
  }

  .header, .footer {
    min-height: 1024px;
  }
  
  .footer {
   margin-top: 60px;
  }

  .header_title {
  /* margin-top: 175px; */
   margin-left: -20px;
  }

  .main_text {
    display: grid;
    grid-template-columns: 1fr 472px;
    gap: 20px;
    margin-top: 70px;
  }

  .main_title {
    margin-top: 10px;
  }

  .main_text_middle {
    display: grid;
    grid-template-columns:  1fr;
    margin-bottom: 10px;
  }
 
  .main_title_middle {
    display: grid;
    grid-template-columns: 1fr 472px;
    padding-right: 20px;
    margin-bottom: -10px;
  }
  
  .header_text {
    width: 364px;
     /*margin-top: 107px;*/
  }

  .header__theme-menu-list {
    margin-top: 173px;
  }

  .card_img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .picture-list-image:nth-child(1) {
    grid-column: 1 / span 2;
  }
  
  .picture-list-image:nth-child(2) {
     grid-column-start: 3;
     grid-column-end: 4;
     grid-row-start: 1;
     grid-row-end: 3;
  } 

  .picture-list-image:nth-child(3) {
     grid-column-start: 1;
     grid-column-end: 2;
     grid-row-start: 2;
     grid-row-end: 4;
  }

  .picture-list-image:nth-child(5) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

  .picture-list {
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: repeat (3, min-content);
    gap: 20px;
  }

  .main_picture {
    margin-top: 70px;
  }

}

@media (width >= 1024px) {
  .header, .footer {
    min-height: 768px;
  }

  .main_title_middle {
    display: grid;
    grid-template-columns: 1fr 649px;
    margin-bottom: -10px;
    margin-top: 30px;
  }

  .main_picture {
    margin-top: 80px;
  }

  .main_article_middle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  } 

  .text_edge {
      display: grid;
      grid-template-columns: 1fr 649px;
      gap: 20px;
      margin-bottom: -20px;
  }

  .header_text {
       width: 491px;
    /* margin-top: 59px;*/
  }

  .header_title {
  /*  margin-top: 274px;
    margin-left: -10px;*/
  }

  .header__theme-menu-list {
    flex-direction: row;
    margin: 0 60px;
    justify-content: center;
    align-content: start;
  }
} 

 