/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/* темная мобильная тема*/
/*
:root {
  --main-font: 'IBM Plex mono';
  --bg-color:  #000028;
  --title-color: #FF0070;
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --focus-color:  #DB00FF;
  --bg-image: url(../images/cover-image-dark.png);
  --rec-color: #FF0070;
} */
/*
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
} */

/*
@media (prefers-color-scheme: dark) {
  body {
    --title-color: #FF0070;
    --bg-color:  #000028;
    --accent-color: #FF0070;
    --text-color: #F1B2CE;
    --focus-color:  #DB00FF;
    --bg-image: url(../images/cover-image-dark.png);
  }
} 

@media (prefers-color-scheme: light) {
  body {
    --title-color: #353430;
    --accent-color: #FF8DCB;
    --text-color: #353430;
    --focus-color:  #FFC2E6;
    --bg-image: url(../images/cover-image-light.png);
    --bg-color:  #ffeef6;  
  }
} */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  min-inline-size: 375px;
  block-size: 100%;
  color: var(--title-color, #FF0070);
  font-family: var(--main-font, IBM Plex);
  background-image: var(--bg-image, url(../images/cover-image-dark.png));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
  margin: 0 auto;
  padding: 10px;
}

.header_decor {
  position: relative; 
  color: var(--rec-color);
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: end;
  float: right;
  margin-right: 28px;
}

.header_decor::before {
  content:"REC";
  color: var(--rec-color);
}

.header_decor::after {
  content:"";
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  margin: 8px 8px 0px 10px;
  background-color: var(--rec-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px var(--rec-color);
  align-items: center;
  justify-content: center;
}

.header {
  position: relative;
  display: flex; 
  flex-direction: column;
  height: 100vh;
  min-height: 667px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--title-color);
  border-right: 1px solid var(--title-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px solid var(--title-color);
  border-left: 1px solid var(--title-color);
}

.header__theme-menu-button {
  border: none;
  color: var(--title-color);
  background-color: transparent;
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
} 

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: var(--text-color, #F1B2CE);
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: end;
  gap: 10px;
  margin-top: 66px;
}

.header_title, .footer_title {
  color: var(--focus-color,#DB00FF);
  font-family: var(--main-font, sans-serif);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  justify-content: center;
  align-items: start;
}

.header_title {
  margin-top: 65px;
  margin-bottom: 55px;
}

.header_text {
  min-width: 355px;
  display: flex;
  align-self: flex-end;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.main_text {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  color: var(--text-color);
  font-size: 18px;
  margin-top: 50px;
  line-height: 23.4px;
}

.main_accent {
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main_dop_accent {
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
}

.title_decor {
  color: #000028;
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px; /* 130% */
  background-color: var(--accent-color);
}

.main_link {
  position: relative;
  text-shadow: 4px 4px 0px  var(--accent-color);
  text-decoration: none;
}


.main_link:hover:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: var(--text-color);
}

.main_link:focus {
  outline: 1px solid var(--title-color);
} 

.main_title {
  color: var(--title-color);
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.main_picture {
  display: grid;
  object-position: center;
  gap: 10px;
  margin-top: 50px;
}

.card_img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.picture-list {
  list-style: none;
}

.footer {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 667px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  margin-top: 40px;
}

button:focus {
  outline: none;
  text-decoration: underline;
}

button:active, button:hover, button:default {
  outline: 1px solid var(--title-color);
}
button:disabled {
  outline: 1px solid var(--title-color);
}

@media (width > 375px) {
  .header_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .footer_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .card_img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  /*.sunset */
  .picture-list-image:nth-child(1) {
    grid-column: 1 / span 2;
  }
  
  .picture-list-image:nth-child(2) {
     grid-column-start: 3;
     grid-column-end: 4;
     grid-row-start: 1;
     grid-row-end: 3;
  } 

  .picture-list-image:nth-child(3) {
     grid-column-start: 1;
     grid-column-end: 2;
     grid-row-start: 2;
     grid-row-end: 4;
}

  .picture-list-image:nth-child(5) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

  .picture-list {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }

  .header_text {
    width: 364px;
  }
} 

@media (width <= 375px) {
  .main_text {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .header_text {
    width: 355px;
  }
}

@media (width >= 768px) {
  .header {
    height: 100vh;
    min-height: 1024px;
  }

  .header_title{
   margin-top: 175px;
  }

  .main_text {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
  }

  .main_title {
    margin-top: 10px;
  }

  .main_text_middle {
    display: grid;
    grid-template-columns:  1fr;
  }
 
  .main_title_middle {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 20px;
  }
  
  .header_text {
    width: 364px;
    margin-top: 107px;
  }

  .header__theme-menu-list {
    margin-top: 173px;
  }
}

@media (width >= 1024px) {
  .header {
    height: 100vh;
    min-height: 768px;
  }

  .main_article_middle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  } 
  .main_title_middle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .header_text {
    width: 491px;
    margin-top: 59px;
  }

  .header_title {
    margin-top: 274px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    margin: 0;
    justify-content: center;
  }
} 

 